
.loading {
  input {
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 1.5s infinite;
  }
}

.addOptionContainer {
  display: flex;
  align-items: center;

  .searchTerm {
    font-style: italic;
  }

  .addOptionLoader {
    margin-left: 0.5em;
    animation: spin 1.5s infinite;
  }
}

@keyframes shimmer {
  100% {
    -webkit-mask-position: left;
  }
}

@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}