
body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: rgba(255, 226, 193, 0.325);

  * {
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
  }

}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.root {
  display: flex;
  padding: 1rem;
  max-height: 100%;

  .componentsRoot {
    flex: 2;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;

    .componentCard {
      @extend .card;
      flex: none;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      h3 {
        margin-top: 0;
        color: rgb(89, 89, 129);
      }
    }

    .usageBlock {
      background-color: darken(white, 5%);
      padding: 0.5em;
      display: flex;
      margin-top: 0.5em;

      div {
        flex: 1;
      }

      .copyToClipboardButton {
        margin-left: 0.5em;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: rgb(89, 128, 129);

        &:hover {
          color: lighten(rgb(89, 128, 129), 5%);
          transform: scale(1.1);
        }
      }

      .textCopied {
        margin-left: 0.5em;
        color: green;
      }
      
      .usageHeader {
        display: flex;
      }
    }
  }

  .formDataCard {
    @extend .card;
    flex: 1;
    margin-left: 0.5em;
    position: sticky;
    top: 0;
    height: auto;
  }
}
